<ion-header>
  <ion-toolbar>
    <ion-title>
      String Replace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{str}}
      </ion-label>
      <ion-button slot="end" (click)="replace()">Replace</ion-button>
    </ion-item>

    <ion-item class="ion-text-center">
      <ion-label class="ion-text-wrap">
        {{replacedStr}}
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
